/*
Global Styles

TopNav
*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.topnav {
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height: 50px;
  background-color: #102854;
  text-align: center;
}
.topnav nav {
  margin-top: 10px;
}
.topnav a:link, a:visited {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 10px 20px;
  transition: 0.3s ease;
}
.topnav a:hover {
  font-weight: bolder;
  color:#102854;
  background-color: white;
  border-radius: 5px;
}

.main {
  margin-top:5vh;
  font-family: sans-serif;
}

/* Forms */
 .form {
    padding:20px;
    text-align: right;
}

 form > div {
    padding: 15px;
}
 form label {
    font-size:1.2em;
    margin: 20px;
}
 form input, select, textarea {
    height: 4vh;
    min-height: 35px;
    width: 20vw;
    min-width: 300px;
    font-size: 1.3em;
    transition: 0.5s ease;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 2px 10px;
    color: #102854;
}
 input::placeholder {
    font-family: monospace;
    font-size: 1em;
}
 input:hover, input:focus, select:hover, select:focus, textarea:hover, textarea:focus {
    background-color: antiquewhite;
    border: 2px solid #00695f;
}

.submit button {
    border-radius: 5px;
    border: none;
    background-color: whitesmoke;
    color: #102854;
    height:4vh;
    min-height: 40px;
    width: 10vw;
    min-width: 150px;
    margin-top: 1vh;
    padding:5px;
    font-size: 1.35em;
    transition: 0.3s ease;
}
.submit button:hover {
    background-color: #102854;
    color: white;
}

/* End of Global Styles */



/*
Specific styling
*/

/* About Me page*/
#About .main {
    margin: 0 20%;
}
#About .main p, ul, li, .edu div {
    color: #102854;
    font-family: "Garrison Light Sans";
}
#About .main h2 {
    color: #00695f;
}

#About .main > div {
    padding:20px;
    transition: 0.5s ease;
}
#About .main > div:hover {
    background-color: #d9d9d9;
    padding: 25px;
}
/* Navigation */
#About .navbar {
  position: absolute;
  top:50px;
  left:0;
  width: 100vw;
  height: 32px;
  background-color: #00695f;
  text-align: center;
}

#About .navbar .links {
    margin-top: 6px;
}
#About .navbar a:link, a:visited {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  padding: 6px 20px;
  transition: 0.3s ease;
}
#About .navbar a:hover {
  font-weight: bolder;
  color:white;
  background-color: #003631;
  border-radius: 5px;
}

/* Header */
#About .header {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top:10vh;
}

#About .header .name h1{
    color: #102854;
    font-weight: bolder;
    font-size: 4.5em;
    font-family: monospace;
    transition: 0.5s ease;
}
#About .header .name h1:hover {
    font-size: 5em;
}
#About .header .display_pic img {
    object-fit: cover;
    object-position: 50% 30%;
    height: 400px;
    width: 300px;
    border-radius: 5px;
    transition: 1s ease;
}
#About .header .display_pic img:hover {
    width: 250px;
}

#About .about {
    background-color: whitesmoke;
}

#About .edu > div {
    padding: 20px;
}

#About .edu {
    background-color: whitesmoke;
}


#About .hobby_and_skill {
    background-color: whitesmoke;
}
#About .hobby_and_skill .hobbies ul {
    list-style-position: outside;
}

#About ul {
    list-style-type: square;
    list-style-position: inside;
}
#About li {
    padding: 10px;
}

#About .list_title {
    font-size: 1.2em;
    color: #003631;
    border-bottom: 1px solid #102854;
}


/* End of About Me Page*/


/* Contact Page */
#Contact .contact {
    background-color: white;
    left:0;
    position: absolute;
    width: 100%;
    text-align: center;
}
#Contact .contact h2 {
    color: #00695f;
    font-family: sans-serif;
    font-size: 3em;
    font-weight: bold;
    padding:20px
}
#Contact hr {
    width: 50%;
    min-width: 200px;
}
#Contact .contact p {
    padding:20px;
    color: #102854;
    font-family: monospace;
    font-size: 1.2em;
}
#Contact form {
    padding: 0 25%;
    text-align: left;
    background-color: whitesmoke;
}
#Contact .contact form div > input, textarea, select {
    background-color: white !important;
    font-family: sans-serif;
    width: 100%;
}
#Contact .contact form div > label {
    font-family: sans-serif;
}
#Contact .contact form textarea {
    height: 200px;
}
#Contact form button {
    background-color: #00695f;
    color: white;
    transition: 0.5s ease;
    border: 2px solid whitesmoke;
}
#Contact form button:hover {
    background-color: #102854;
    color: white;
    border: 2px solid #00695f;
}

/* End of Contact Page */

/* Login Page */

#login .main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 5px;
    background-image: linear-gradient(110deg, #102854, #00695f);
    padding:10px;
    color:white;
}

#login .header {
    text-align: center;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid white;
}
#login .image {
    text-align: center;
}
#login .image img {
    height: 30vh;
    object-position: center;
    object-fit: cover;
    padding: 50px;
    border-radius: 100%;
}

#login .form {
    text-align: center;
    padding: 20px;
}
#login form > div{
    padding:5px;
}
#login input {
    text-align: center;
}
#login input::placeholder {
    font-family: monospace;
    font-size: 1.35em;
}

/* End of Login page */


/* Register Page */
#register .main {
    position: absolute;
    left: 50%;
/*     top: 50%; */
    margin-top:10vh;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 5px;
    background-image: linear-gradient(110deg, #102854, #00695f);
    padding:10px;
    color:white;
    min-width: 30vw;
}

#register .header {
    text-align: center;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid white;
}

#register .submit {
    text-align: center;
}
#register .gender select {
    width: 21.3vw;
}

/* End of Register Page */


/* Responsivity */
@media screen and (max-width:810px ) {
    #About .navbar a:link, a:visited {
        padding: 6px 5px;
    }
    #About .navbar {
        height: 50px;
    }

    #About .header {
        height: fit-content;
        padding: 30px 0;
    }
     #About .header .name h1{
        font-size: 2.5em;
    }
    #About .header .name h1:hover {
        font-size: 3em;
    }
    #About .header .display_pic img {
        width: 200px;
        height: 150px;
    }
    #About .header .display_pic img:hover {
        height: 300px;
    }

    #Contact form {
        padding: 10%;
    }
}

@media screen and (max-width: 480px) {
    .form {
        text-align: center;
    }
    .form input, select {
        text-align: center;
    }

    .topnav a:link, a:visited {
        padding: 5px;
    }
    #About .navbar {
        height: 50px;
    }

    #About .main {
        margin: 0;
    }

    #About .header {
        padding-top: 3vh;
        flex-direction: column;
    }
    #About .header .name h1{
        font-size: 2.5em;
    }
    #About .header .name h1:hover {
        font-size: 3em;
    }
    #About .header .display_pic {
        display: none;
    }
    #About .header .display_pic img:hover {
        width: 150px;
    }

    #Contact form {
        padding: 10px;
    }

    #Contact .contact h2 {
        font-size: 2em;
    }
    #Contact hr {
        width: 50%;
    }
    #Contact .contact p {
        font-size: 1.3em;
    }
}